<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseheader">
    <title th:include="::#pagetitle">Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar-fixed blue lighten-1">
        <div class="nav-wrapper">
            <a class="brand-logo center header"><strong>My File Storage</strong></a>
<!--            <a href="/logout" class="btn red">LOGOUT</a>-->
        </div>
    </nav>
</div>

<div th:fragment="content" class="container">

</div>

<footer th:fragment="footer" class="page-footer white black-text ">
    <div class="container">
        <p>&copy; 2020 Junjie Lin File Storage</p>
    </div>
</footer>

<div th:fragment="materializejs">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>
</body>
</html>