<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="components:: baseheader">
    <title id="pagetitle">Upload File</title>
</head>
<body>
<!--nAv-->
<div th:insert="Components::header">

</div>

<div class="container row">


    <!--    Actions tab-->
    <div th:insert="Components::actions-tab">

    </div>


    <!--Files-->
    <div class="row " th:if=" ${parentFolder} or ${files} or ${folders} ">
        <div class="row ">
            <h5 class="header col l6">Directory File & Folders: </h5>
        </div>

        <table class="col s12 m12 highlight">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Share</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <!--                Parent folder link-->
            <tr th:if="${parentFolder}">
                <td><i class="material-icons">folder_open</i></td>
                <td><a th:href="${parentFolder}">..</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <!--Folder Links for Directory -->
            <tr th:each="folder :${folders}">
                <td><i class="material-icons">folder</i></td>
                <td><a th:href="${folder.getPath()}" th:text="${folder.getFolderName()}"></a></td>
                <td></td>
                <td></td>
                <td><a th:href="${folder.getFolderDelete()}"><i class="material-icons red-text darken-2">delete</i></a>
                </td>
            </tr>

            <!--Files in Folder-->
            <tr th:each="file:${files}">
                <td><i class="material-icons">insert_drive_file</i></td>
                <td><p th:text="${file.getFileName()}"></p></td>
                <td>
                    <form th:action="@{/share/generateLink}" method="POST">
                        <input type="text" hidden name="filePath" th:value="${file.getFileLink()}">
                        <input type="text" hidden name="fileName" th:value="${file.getFileName()}">
                        <button class="white btn z-depth-0 black-text" type="submit" ><i class="material-icons">share</i></button>
                    </form>
                </td>
                <td><a th:href="${file.getFileLink()}"><i class="material-icons blue-text">file_download</i></a></td>
                <td><a th:href="${file.getFileDeleteLink()}"><i class="material-icons red-text darken-2">delete</i></a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
<div th:insert="Components::footer">
</div>

<div th:insert="Components::materializejs"></div>

<script>
</script>

</body>
</html>