<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="components:: baseheader">
    <title id="pagetitle">Upload File</title>
</head>
<body>
<!--nAv-->
<div th:insert="Components::header">

</div>

<div class="container row">

    <!--  Add Multiple files  -->
    <div id="multiFileModal" class="modal">
        <div class="modal-content container ">
            <h4>File Selector</h4>
            <form class=" row" th:action="@{/fileUpload}" method="post" enctype="multipart/form-data">
                <span>Select File(s)</span>
                <input autofocus required type="file" name="files" multiple/>
                <input type="submit" class="btn white green-text lighten-1" value="Upload"/>
            </form>
        </div>
    </div>

    <!--    Add Folder modal-->
    <div class="modal " id="folderModal">
        <div class="modal-content container">
            <h5 class="header ">Add Folder</h5>
            <form class="" action="/newDirectory" method="post">
                <label for="folderName">Folder Name</label>
                <div class="row">
                    <input autofocus class="col l6" type="text" id="folderName" name="folderName" required minlength="1"
                           maxlength="15">
                    <input type="submit" class="btn white green-text lighten-1 col l2 offset-l3" value="Create">
                </div>
            </form>
        </div>
    </div>

    <!--    Actions tab-->
    <div th:insert="Components::actions-tab">

    </div>

    <!--    Messages/Alerts -->
    <div th:if="${message}">
        <!--     Used for toast -->
        <p id="message" th:text="${message}" class="green-text" hidden></p>
    </div>

    <!--Files-->
    <div class="row " th:if=" ${parentFolder} or ${files} or ${folders} ">
        <div class="row ">
            <h5 class="header col l6">Directory File & Folders: </h5>
        </div>

        <table class="col s12 m12 highlight">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <!--                Parent folder link-->
            <tr th:if="${parentFolder}">
                <td><i class="material-icons">folder_open</i></td>
                <td><a th:href="${parentFolder}">..</a></td>
                <td></td>
                <td></td>
            </tr>

            <!--Folder Links for Directory -->
            <tr th:each="folder :${folders}">
                <td><i class="material-icons">folder</i></td>
                <td><a th:href="${folder.getPath()}" th:text="${folder.getFolderName()}"></a></td>
                <td></td>
                <td><a th:href="${folder.getFolderDelete()}"><i class="material-icons red-text darken-2">delete</i></a>
                </td>
            </tr>

            <!--Files in Folder-->
            <tr th:each="file:${files}">
                <td><i class="material-icons">insert_drive_file</i></td>
                <td><p th:text="${file.getFileName()}"></p></td>
                <td><a th:href="${file.getFilelink()}"><i class="material-icons blue-text">file_download</i></a></td>
                <td><a th:href="${file.getFileDeleteLink()}"><i class="material-icons red-text darken-2">delete</i></a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
<div th:insert="Components::footer">
</div>

<div th:insert="Components::materializejs"></div>

<script>
    // ModalS
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    })

    // Toast
    const message = document.getElementById("message");
    //toast
    if (message != null) {
        M.toast({html: message.textContent, length: 3000, classes: 'white blue-text'});
    }
</script>

</body>
</html>