<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="components:: baseheader">
    <title id="pagetitle">Search</title>
</head>
<body>
<div th:insert="Components :: header">

</div>

<div class="container">
    <div th:insert="Components::actions-tab">

    </div>
    <h4>Results</h4>
    <p class="grey-text" th:text="'Search parameter: ' + ${param.fileNameSearch}"></p>
    <p th:if="not ${files}" class="red-text">0 Results</p>
    <div class="row" th:if="${files}">
        <!--        Card result for search file -->
        <div th:each="file : ${files}" class="col l4 card horizontal" style="margin:0 5px;">
            <div class="card-stacked">
                <div class="card-content">
                    <p th:text="${file.getFileName()}" style="word-wrap: break-word"></p>
                </div>
                <div class="card-action">
                    <a th:href="${file.getFileLink()}" ><span class="green-text btn white">Download</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="Components::materializejs">

</div>
</body>
</html>